.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

.logo {
  height: 60px;
  width: 60px;
}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 150 px;
}

.city-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

input {
  height: 50px;
  width: 250px;
}

button {
  height: 56px;
  width: 100px;
}